extends layout

block content
  div(class="container-fluid")
  h1= title
  -
  div(class="row")
    each nut in nutsDes
      div(class="col-sm-2") #{}
      div(class="col-sm-2") #{}
      div(class="col-sm-2") #{}